[data-rk] .ju367v6w {
    padding-bottom: 64px;
}

[data-rk] .ju367v6x {
    padding-bottom: -1px;
}

[data-rk] .ju367v6y {
    padding-left: 0;
}

[data-rk] .ju367v6z {
    padding-left: 1px;
}

[data-rk] .ju367v70 {
    padding-left: 2px;
}

[data-rk] .ju367v71 {
    padding-left: 3px;
}

[data-rk] .ju367v72 {
    padding-left: 4px;
}

[data-rk] .ju367v73 {
    padding-left: 5px;
}

[data-rk] .ju367v74 {
    padding-left: 6px;
}

[data-rk] .ju367v75 {
    padding-left: 8px;
}

[data-rk] .ju367v76 {
    padding-left: 10px;
}

[data-rk] .ju367v77 {
    padding-left: 12px;
}

[data-rk] .ju367v78 {
    padding-left: 14px;
}

[data-rk] .ju367v79 {
    padding-left: 16px;
}

[data-rk] .ju367v7a {
    padding-left: 18px;
}

[data-rk] .ju367v7b {
    padding-left: 20px;
}

[data-rk] .ju367v7c {
    padding-left: 24px;
}

[data-rk] .ju367v7d {
    padding-left: 28px;
}

[data-rk] .ju367v7e {
    padding-left: 32px;
}

[data-rk] .ju367v7f {
    padding-left: 36px;
}

[data-rk] .ju367v7g {
    padding-left: 44px;
}

[data-rk] .ju367v7h {
    padding-left: 64px;
}

[data-rk] .ju367v7i {
    padding-left: -1px;
}

[data-rk] .ju367v7j {
    padding-right: 0;
}

[data-rk] .ju367v7k {
    padding-right: 1px;
}

[data-rk] .ju367v7l {
    padding-right: 2px;
}

[data-rk] .ju367v7m {
    padding-right: 3px;
}

[data-rk] .ju367v7n {
    padding-right: 4px;
}

[data-rk] .ju367v7o {
    padding-right: 5px;
}

[data-rk] .ju367v7p {
    padding-right: 6px;
}

[data-rk] .ju367v7q {
    padding-right: 8px;
}

[data-rk] .ju367v7r {
    padding-right: 10px;
}

[data-rk] .ju367v7s {
    padding-right: 12px;
}

[data-rk] .ju367v7t {
    padding-right: 14px;
}

[data-rk] .ju367v7u {
    padding-right: 16px;
}

[data-rk] .ju367v7v {
    padding-right: 18px;
}

[data-rk] .ju367v7w {
    padding-right: 20px;
}

[data-rk] .ju367v7x {
    padding-right: 24px;
}

[data-rk] .ju367v7y {
    padding-right: 28px;
}

[data-rk] .ju367v7z {
    padding-right: 32px;
}

[data-rk] .ju367v80 {
    padding-right: 36px;
}

[data-rk] .ju367v81 {
    padding-right: 44px;
}

[data-rk] .ju367v82 {
    padding-right: 64px;
}

[data-rk] .ju367v83 {
    padding-right: -1px;
}

[data-rk] .ju367v84 {
    padding-top: 0;
}

[data-rk] .ju367v85 {
    padding-top: 1px;
}

[data-rk] .ju367v86 {
    padding-top: 2px;
}

[data-rk] .ju367v87 {
    padding-top: 3px;
}

[data-rk] .ju367v88 {
    padding-top: 4px;
}

[data-rk] .ju367v89 {
    padding-top: 5px;
}

[data-rk] .ju367v8a {
    padding-top: 6px;
}

[data-rk] .ju367v8b {
    padding-top: 8px;
}

[data-rk] .ju367v8c {
    padding-top: 10px;
}

[data-rk] .ju367v8d {
    padding-top: 12px;
}

[data-rk] .ju367v8e {
    padding-top: 14px;
}

[data-rk] .ju367v8f {
    padding-top: 16px;
}

[data-rk] .ju367v8g {
    padding-top: 18px;
}

[data-rk] .ju367v8h {
    padding-top: 20px;
}

[data-rk] .ju367v8i {
    padding-top: 24px;
}

[data-rk] .ju367v8j {
    padding-top: 28px;
}

[data-rk] .ju367v8k {
    padding-top: 32px;
}

[data-rk] .ju367v8l {
    padding-top: 36px;
}

[data-rk] .ju367v8m {
    padding-top: 44px;
}

[data-rk] .ju367v8n {
    padding-top: 64px;
}

[data-rk] .ju367v8o {
    padding-top: -1px;
}

[data-rk] .ju367v8p {
    top: 0;
}

[data-rk] .ju367v8q {
    bottom: 0;
}

[data-rk] .ju367v8r {
    left: 0;
}

[data-rk] .ju367v8s {
    right: 0;
}

[data-rk] .ju367v8t {
    position: absolute;
}

[data-rk] .ju367v8u {
    position: fixed;
}

[data-rk] .ju367v8v {
    position: relative;
}

[data-rk] .ju367v8w {
    width: 1px;
}

[data-rk] .ju367v8x {
    width: 2px;
}

[data-rk] .ju367v8y {
    width: 4px;
}

[data-rk] .ju367v8z {
    width: 8px;
}

[data-rk] .ju367v90 {
    width: 12px;
}

[data-rk] .ju367v91 {
    width: 20px;
}

[data-rk] .ju367v92 {
    width: 24px;
}

[data-rk] .ju367v93 {
    width: 28px;
}

[data-rk] .ju367v94 {
    width: 30px;
}

[data-rk] .ju367v95 {
    width: 32px;
}

[data-rk] .ju367v96 {
    width: 34px;
}

[data-rk] .ju367v97 {
    width: 36px;
}

[data-rk] .ju367v98 {
    width: 40px;
}

[data-rk] .ju367v99 {
    width: 44px;
}

[data-rk] .ju367v9a {
    width: 48px;
}

[data-rk] .ju367v9b {
    width: 54px;
}

[data-rk] .ju367v9c {
    width: 60px;
}

[data-rk] .ju367v9d {
    width: 200px;
}

[data-rk] .ju367v9e {
    width: 100%;
}

[data-rk] .ju367v9f {
    width: -moz-max-content;
    width: max-content;
}

[data-rk] .ju367v9g {
    z-index: 2147483646;
}

[data-rk] .ju367v9h {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media screen and (min-width: 768px) {
    [data-rk] ._12cbo8i0 {
        align-items: flex-start;
    }

    [data-rk] ._12cbo8i1 {
        align-items: flex-end;
    }

    [data-rk] ._12cbo8i2 {
        align-items: center;
    }

    [data-rk] ._12cbo8i3 {
        display: none;
    }

    [data-rk] ._12cbo8i4 {
        display: block;
    }

    [data-rk] ._12cbo8i5 {
        display: flex;
    }

    [data-rk] ._12cbo8i6 {
        display: inline;
    }

    [data-rk] ._12cbo8i7 {
        align-self: flex-start;
    }

    [data-rk] ._12cbo8i8 {
        align-self: flex-end;
    }

    [data-rk] ._12cbo8i9 {
        align-self: center;
    }

    [data-rk] ._12cbo8ia {
        background-size: cover;
    }

    [data-rk] ._12cbo8ib {
        border-radius: 1px;
    }

    [data-rk] ._12cbo8ic {
        border-radius: 6px;
    }

    [data-rk] ._12cbo8id {
        border-radius: 10px;
    }

    [data-rk] ._12cbo8ie {
        border-radius: 13px;
    }

    [data-rk] ._12cbo8if {
        border-radius: var(--rk-radii-actionButton);
    }

    [data-rk] ._12cbo8ig {
        border-radius: var(--rk-radii-connectButton);
    }

    [data-rk] ._12cbo8ih {
        border-radius: var(--rk-radii-menuButton);
    }

    [data-rk] ._12cbo8ii {
        border-radius: var(--rk-radii-modal);
    }

    [data-rk] ._12cbo8ij {
        border-radius: var(--rk-radii-modalMobile);
    }

    [data-rk] ._12cbo8ik {
        border-radius: 25%;
    }

    [data-rk] ._12cbo8il {
        border-radius: 9999px;
    }

    [data-rk] ._12cbo8im {
        border-style: solid;
    }

    [data-rk] ._12cbo8in {
        border-width: 0px;
    }

    [data-rk] ._12cbo8io {
        border-width: 1px;
    }

    [data-rk] ._12cbo8ip {
        border-width: 2px;
    }

    [data-rk] ._12cbo8iq {
        border-width: 4px;
    }

    [data-rk] ._12cbo8ir {
        cursor: pointer;
    }

    [data-rk] ._12cbo8is {
        cursor: none;
    }

    [data-rk] ._12cbo8it {
        pointer-events: none;
    }

    [data-rk] ._12cbo8iu {
        pointer-events: all;
    }

    [data-rk] ._12cbo8iv {
        min-height: 8px;
    }

    [data-rk] ._12cbo8iw {
        min-height: 44px;
    }

    [data-rk] ._12cbo8ix {
        flex-direction: row;
    }

    [data-rk] ._12cbo8iy {
        flex-direction: column;
    }

    [data-rk] ._12cbo8iz {
        font-family: var(--rk-fonts-body);
    }

    [data-rk] ._12cbo8i10 {
        font-size: 12px;
        line-height: 18px;
    }

    [data-rk] ._12cbo8i11 {
        font-size: 13px;
        line-height: 18px;
    }

    [data-rk] ._12cbo8i12 {
        font-size: 14px;
        line-height: 18px;
    }

    [data-rk] ._12cbo8i13 {
        font-size: 16px;
        line-height: 20px;
    }

    [data-rk] ._12cbo8i14 {
        font-size: 18px;
        line-height: 24px;
    }

    [data-rk] ._12cbo8i15 {
        font-size: 20px;
        line-height: 24px;
    }

    [data-rk] ._12cbo8i16 {
        font-size: 23px;
        line-height: 29px;
    }

    [data-rk] ._12cbo8i17 {
        font-weight: 400;
    }

    [data-rk] ._12cbo8i18 {
        font-weight: 500;
    }

    [data-rk] ._12cbo8i19 {
        font-weight: 600;
    }

    [data-rk] ._12cbo8i1a {
        font-weight: 700;
    }

    [data-rk] ._12cbo8i1b {
        font-weight: 800;
    }

    [data-rk] ._12cbo8i1c {
        gap: 0;
    }

    [data-rk] ._12cbo8i1d {
        gap: 1px;
    }

    [data-rk] ._12cbo8i1e {
        gap: 2px;
    }

    [data-rk] ._12cbo8i1f {
        gap: 3px;
    }

    [data-rk] ._12cbo8i1g {
        gap: 4px;
    }

    [data-rk] ._12cbo8i1h {
        gap: 5px;
    }

    [data-rk] ._12cbo8i1i {
        gap: 6px;
    }

    [data-rk] ._12cbo8i1j {
        gap: 8px;
    }

    [data-rk] ._12cbo8i1k {
        gap: 10px;
    }

    [data-rk] ._12cbo8i1l {
        gap: 12px;
    }

    [data-rk] ._12cbo8i1m {
        gap: 14px;
    }

    [data-rk] ._12cbo8i1n {
        gap: 16px;
    }

    [data-rk] ._12cbo8i1o {
        gap: 18px;
    }

    [data-rk] ._12cbo8i1p {
        gap: 20px;
    }

    [data-rk] ._12cbo8i1q {
        gap: 24px;
    }

    [data-rk] ._12cbo8i1r {
        gap: 28px;
    }

    [data-rk] ._12cbo8i1s {
        gap: 32px;
    }

    [data-rk] ._12cbo8i1t {
        gap: 36px;
    }

    [data-rk] ._12cbo8i1u {
        gap: 44px;
    }

    [data-rk] ._12cbo8i1v {
        gap: 64px;
    }

    [data-rk] ._12cbo8i1w {
        gap: -1px;
    }

    [data-rk] ._12cbo8i1x {
        height: 1px;
    }

    [data-rk] ._12cbo8i1y {
        height: 2px;
    }

    [data-rk] ._12cbo8i1z {
        height: 4px;
    }

    [data-rk] ._12cbo8i20 {
        height: 8px;
    }

    [data-rk] ._12cbo8i21 {
        height: 12px;
    }

    [data-rk] ._12cbo8i22 {
        height: 20px;
    }

    [data-rk] ._12cbo8i23 {
        height: 24px;
    }

    [data-rk] ._12cbo8i24 {
        height: 28px;
    }

    [data-rk] ._12cbo8i25 {
        height: 30px;
    }

    [data-rk] ._12cbo8i26 {
        height: 32px;
    }

    [data-rk] ._12cbo8i27 {
        height: 34px;
    }

    [data-rk] ._12cbo8i28 {
        height: 36px;
    }

    [data-rk] ._12cbo8i29 {
        height: 40px;
    }

    [data-rk] ._12cbo8i2a {
        height: 44px;
    }

    [data-rk] ._12cbo8i2b {
        height: 48px;
    }

    [data-rk] ._12cbo8i2c {
        height: 54px;
    }

    [data-rk] ._12cbo8i2d {
        height: 60px;
    }

    [data-rk] ._12cbo8i2e {
        height: 200px;
    }

    [data-rk] ._12cbo8i2f {
        height: 100%;
    }

    [data-rk] ._12cbo8i2g {
        height: -moz-max-content;
        height: max-content;
    }

    [data-rk] ._12cbo8i2h {
        justify-content: flex-start;
    }

    [data-rk] ._12cbo8i2i {
        justify-content: flex-end;
    }

    [data-rk] ._12cbo8i2j {
        justify-content: center;
    }

    [data-rk] ._12cbo8i2k {
        justify-content: space-between;
    }

    [data-rk] ._12cbo8i2l {
        justify-content: space-around;
    }

    [data-rk] ._12cbo8i2m {
        text-align: left;
    }

    [data-rk] ._12cbo8i2n {
        text-align: center;
    }

    [data-rk] ._12cbo8i2o {
        text-align: inherit;
    }

    [data-rk] ._12cbo8i2p {
        margin-bottom: 0;
    }

    [data-rk] ._12cbo8i2q {
        margin-bottom: 1px;
    }

    [data-rk] ._12cbo8i2r {
        margin-bottom: 2px;
    }

    [data-rk] ._12cbo8i2s {
        margin-bottom: 3px;
    }

    [data-rk] ._12cbo8i2t {
        margin-bottom: 4px;
    }

    [data-rk] ._12cbo8i2u {
        margin-bottom: 5px;
    }

    [data-rk] ._12cbo8i2v {
        margin-bottom: 6px;
    }

    [data-rk] ._12cbo8i2w {
        margin-bottom: 8px;
    }

    [data-rk] ._12cbo8i2x {
        margin-bottom: 10px;
    }

    [data-rk] ._12cbo8i2y {
        margin-bottom: 12px;
    }

    [data-rk] ._12cbo8i2z {
        margin-bottom: 14px;
    }

    [data-rk] ._12cbo8i30 {
        margin-bottom: 16px;
    }

    [data-rk] ._12cbo8i31 {
        margin-bottom: 18px;
    }

    [data-rk] ._12cbo8i32 {
        margin-bottom: 20px;
    }

    [data-rk] ._12cbo8i33 {
        margin-bottom: 24px;
    }

    [data-rk] ._12cbo8i34 {
        margin-bottom: 28px;
    }

    [data-rk] ._12cbo8i35 {
        margin-bottom: 32px;
    }

    [data-rk] ._12cbo8i36 {
        margin-bottom: 36px;
    }

    [data-rk] ._12cbo8i37 {
        margin-bottom: 44px;
    }

    [data-rk] ._12cbo8i38 {
        margin-bottom: 64px;
    }

    [data-rk] ._12cbo8i39 {
        margin-bottom: -1px;
    }

    [data-rk] ._12cbo8i3a {
        margin-left: 0;
    }

    [data-rk] ._12cbo8i3b {
        margin-left: 1px;
    }

    [data-rk] ._12cbo8i3c {
        margin-left: 2px;
    }

    [data-rk] ._12cbo8i3d {
        margin-left: 3px;
    }

    [data-rk] ._12cbo8i3e {
        margin-left: 4px;
    }

    [data-rk] ._12cbo8i3f {
        margin-left: 5px;
    }

    [data-rk] ._12cbo8i3g {
        margin-left: 6px;
    }

    [data-rk] ._12cbo8i3h {
        margin-left: 8px;
    }

    [data-rk] ._12cbo8i3i {
        margin-left: 10px;
    }

    [data-rk] ._12cbo8i3j {
        margin-left: 12px;
    }

    [data-rk] ._12cbo8i3k {
        margin-left: 14px;
    }

    [data-rk] ._12cbo8i3l {
        margin-left: 16px;
    }

    [data-rk] ._12cbo8i3m {
        margin-left: 18px;
    }

    [data-rk] ._12cbo8i3n {
        margin-left: 20px;
    }

    [data-rk] ._12cbo8i3o {
        margin-left: 24px;
    }

    [data-rk] ._12cbo8i3p {
        margin-left: 28px;
    }

    [data-rk] ._12cbo8i3q {
        margin-left: 32px;
    }

    [data-rk] ._12cbo8i3r {
        margin-left: 36px;
    }

    [data-rk] ._12cbo8i3s {
        margin-left: 44px;
    }

    [data-rk] ._12cbo8i3t {
        margin-left: 64px;
    }

    [data-rk] ._12cbo8i3u {
        margin-left: -1px;
    }

    [data-rk] ._12cbo8i3v {
        margin-right: 0;
    }

    [data-rk] ._12cbo8i3w {
        margin-right: 1px;
    }

    [data-rk] ._12cbo8i3x {
        margin-right: 2px;
    }

    [data-rk] ._12cbo8i3y {
        margin-right: 3px;
    }

    [data-rk] ._12cbo8i3z {
        margin-right: 4px;
    }

    [data-rk] ._12cbo8i40 {
        margin-right: 5px;
    }

    [data-rk] ._12cbo8i41 {
        margin-right: 6px;
    }

    [data-rk] ._12cbo8i42 {
        margin-right: 8px;
    }

    [data-rk] ._12cbo8i43 {
        margin-right: 10px;
    }

    [data-rk] ._12cbo8i44 {
        margin-right: 12px;
    }

    [data-rk] ._12cbo8i45 {
        margin-right: 14px;
    }

    [data-rk] ._12cbo8i46 {
        margin-right: 16px;
    }

    [data-rk] ._12cbo8i47 {
        margin-right: 18px;
    }

    [data-rk] ._12cbo8i48 {
        margin-right: 20px;
    }

    [data-rk] ._12cbo8i49 {
        margin-right: 24px;
    }

    [data-rk] ._12cbo8i4a {
        margin-right: 28px;
    }

    [data-rk] ._12cbo8i4b {
        margin-right: 32px;
    }

    [data-rk] ._12cbo8i4c {
        margin-right: 36px;
    }

    [data-rk] ._12cbo8i4d {
        margin-right: 44px;
    }

    [data-rk] ._12cbo8i4e {
        margin-right: 64px;
    }

    [data-rk] ._12cbo8i4f {
        margin-right: -1px;
    }

    [data-rk] ._12cbo8i4g {
        margin-top: 0;
    }

    [data-rk] ._12cbo8i4h {
        margin-top: 1px;
    }

    [data-rk] ._12cbo8i4i {
        margin-top: 2px;
    }

    [data-rk] ._12cbo8i4j {
        margin-top: 3px;
    }

    [data-rk] ._12cbo8i4k {
        margin-top: 4px;
    }

    [data-rk] ._12cbo8i4l {
        margin-top: 5px;
    }

    [data-rk] ._12cbo8i4m {
        margin-top: 6px;
    }

    [data-rk] ._12cbo8i4n {
        margin-top: 8px;
    }

    [data-rk] ._12cbo8i4o {
        margin-top: 10px;
    }

    [data-rk] ._12cbo8i4p {
        margin-top: 12px;
    }

    [data-rk] ._12cbo8i4q {
        margin-top: 14px;
    }

    [data-rk] ._12cbo8i4r {
        margin-top: 16px;
    }

    [data-rk] ._12cbo8i4s {
        margin-top: 18px;
    }

    [data-rk] ._12cbo8i4t {
        margin-top: 20px;
    }

    [data-rk] ._12cbo8i4u {
        margin-top: 24px;
    }

    [data-rk] ._12cbo8i4v {
        margin-top: 28px;
    }

    [data-rk] ._12cbo8i4w {
        margin-top: 32px;
    }

    [data-rk] ._12cbo8i4x {
        margin-top: 36px;
    }

    [data-rk] ._12cbo8i4y {
        margin-top: 44px;
    }

    [data-rk] ._12cbo8i4z {
        margin-top: 64px;
    }

    [data-rk] ._12cbo8i50 {
        margin-top: -1px;
    }

    [data-rk] ._12cbo8i51 {
        max-width: 1px;
    }

    [data-rk] ._12cbo8i52 {
        max-width: 2px;
    }

    [data-rk] ._12cbo8i53 {
        max-width: 4px;
    }

    [data-rk] ._12cbo8i54 {
        max-width: 8px;
    }

    [data-rk] ._12cbo8i55 {
        max-width: 12px;
    }

    [data-rk] ._12cbo8i56 {
        max-width: 20px;
    }

    [data-rk] ._12cbo8i57 {
        max-width: 24px;
    }

    [data-rk] ._12cbo8i58 {
        max-width: 28px;
    }

    [data-rk] ._12cbo8i59 {
        max-width: 30px;
    }

    [data-rk] ._12cbo8i5a {
        max-width: 32px;
    }

    [data-rk] ._12cbo8i5b {
        max-width: 34px;
    }

    [data-rk] ._12cbo8i5c {
        max-width: 36px;
    }

    [data-rk] ._12cbo8i5d {
        max-width: 40px;
    }

    [data-rk] ._12cbo8i5e {
        max-width: 44px;
    }

    [data-rk] ._12cbo8i5f {
        max-width: 48px;
    }

    [data-rk] ._12cbo8i5g {
        max-width: 54px;
    }

    [data-rk] ._12cbo8i5h {
        max-width: 60px;
    }

    [data-rk] ._12cbo8i5i {
        max-width: 200px;
    }

    [data-rk] ._12cbo8i5j {
        max-width: 100%;
    }

    [data-rk] ._12cbo8i5k {
        max-width: -moz-max-content;
        max-width: max-content;
    }

    [data-rk] ._12cbo8i5l {
        min-width: 1px;
    }

    [data-rk] ._12cbo8i5m {
        min-width: 2px;
    }

    [data-rk] ._12cbo8i5n {
        min-width: 4px;
    }

    [data-rk] ._12cbo8i5o {
        min-width: 8px;
    }

    [data-rk] ._12cbo8i5p {
        min-width: 12px;
    }

    [data-rk] ._12cbo8i5q {
        min-width: 20px;
    }

    [data-rk] ._12cbo8i5r {
        min-width: 24px;
    }

    [data-rk] ._12cbo8i5s {
        min-width: 28px;
    }

    [data-rk] ._12cbo8i5t {
        min-width: 30px;
    }

    [data-rk] ._12cbo8i5u {
        min-width: 32px;
    }

    [data-rk] ._12cbo8i5v {
        min-width: 34px;
    }

    [data-rk] ._12cbo8i5w {
        min-width: 36px;
    }

    [data-rk] ._12cbo8i5x {
        min-width: 40px;
    }

    [data-rk] ._12cbo8i5y {
        min-width: 44px;
    }

    [data-rk] ._12cbo8i5z {
        min-width: 48px;
    }

    [data-rk] ._12cbo8i60 {
        min-width: 54px;
    }

    [data-rk] ._12cbo8i61 {
        min-width: 60px;
    }

    [data-rk] ._12cbo8i62 {
        min-width: 200px;
    }

    [data-rk] ._12cbo8i63 {
        min-width: 100%;
    }

    [data-rk] ._12cbo8i64 {
        min-width: -moz-max-content;
        min-width: max-content;
    }

    [data-rk] ._12cbo8i65 {
        overflow: hidden;
    }

    [data-rk] ._12cbo8i66 {
        padding-bottom: 0;
    }

    [data-rk] ._12cbo8i67 {
        padding-bottom: 1px;
    }

    [data-rk] ._12cbo8i68 {
        padding-bottom: 2px;
    }

    [data-rk] ._12cbo8i69 {
        padding-bottom: 3px;
    }

    [data-rk] ._12cbo8i6a {
        padding-bottom: 4px;
    }

    [data-rk] ._12cbo8i6b {
        padding-bottom: 5px;
    }

    [data-rk] ._12cbo8i6c {
        padding-bottom: 6px;
    }

    [data-rk] ._12cbo8i6d {
        padding-bottom: 8px;
    }

    [data-rk] ._12cbo8i6e {
        padding-bottom: 10px;
    }

    [data-rk] ._12cbo8i6f {
        padding-bottom: 12px;
    }

    [data-rk] ._12cbo8i6g {
        padding-bottom: 14px;
    }

    [data-rk] ._12cbo8i6h {
        padding-bottom: 16px;
    }

    [data-rk] ._12cbo8i6i {
        padding-bottom: 18px;
    }

    [data-rk] ._12cbo8i6j {
        padding-bottom: 20px;
    }

    [data-rk] ._12cbo8i6k {
        padding-bottom: 24px;
    }

    [data-rk] ._12cbo8i6l {
        padding-bottom: 28px;
    }

    [data-rk] ._12cbo8i6m {
        padding-bottom: 32px;
    }

    [data-rk] ._12cbo8i6n {
        padding-bottom: 36px;
    }

    [data-rk] ._12cbo8i6o {
        padding-bottom: 44px;
    }

    [data-rk] ._12cbo8i6p {
        padding-bottom: 64px;
    }

    [data-rk] ._12cbo8i6q {
        padding-bottom: -1px;
    }

    [data-rk] ._12cbo8i6r {
        padding-left: 0;
    }

    [data-rk] ._12cbo8i6s {
        padding-left: 1px;
    }

    [data-rk] ._12cbo8i6t {
        padding-left: 2px;
    }

    [data-rk] ._12cbo8i6u {
        padding-left: 3px;
    }

    [data-rk] ._12cbo8i6v {
        padding-left: 4px;
    }

    [data-rk] ._12cbo8i6w {
        padding-left: 5px;
    }

    [data-rk] ._12cbo8i6x {
        padding-left: 6px;
    }

    [data-rk] ._12cbo8i6y {
        padding-left: 8px;
    }

    [data-rk] ._12cbo8i6z {
        padding-left: 10px;
    }

    [data-rk] ._12cbo8i70 {
        padding-left: 12px;
    }

    [data-rk] ._12cbo8i71 {
        padding-left: 14px;
    }

    [data-rk] ._12cbo8i72 {
        padding-left: 16px;
    }

    [data-rk] ._12cbo8i73 {
        padding-left: 18px;
    }

    [data-rk] ._12cbo8i74 {
        padding-left: 20px;
    }

    [data-rk] ._12cbo8i75 {
        padding-left: 24px;
    }

    [data-rk] ._12cbo8i76 {
        padding-left: 28px;
    }

    [data-rk] ._12cbo8i77 {
        padding-left: 32px;
    }

    [data-rk] ._12cbo8i78 {
        padding-left: 36px;
    }

    [data-rk] ._12cbo8i79 {
        padding-left: 44px;
    }

    [data-rk] ._12cbo8i7a {
        padding-left: 64px;
    }

    [data-rk] ._12cbo8i7b {
        padding-left: -1px;
    }

    [data-rk] ._12cbo8i7c {
        padding-right: 0;
    }

    [data-rk] ._12cbo8i7d {
        padding-right: 1px;
    }

    [data-rk] ._12cbo8i7e {
        padding-right: 2px;
    }

    [data-rk] ._12cbo8i7f {
        padding-right: 3px;
    }

    [data-rk] ._12cbo8i7g {
        padding-right: 4px;
    }

    [data-rk] ._12cbo8i7h {
        padding-right: 5px;
    }

    [data-rk] ._12cbo8i7i {
        padding-right: 6px;
    }

    [data-rk] ._12cbo8i7j {
        padding-right: 8px;
    }

    [data-rk] ._12cbo8i7k {
        padding-right: 10px;
    }

    [data-rk] ._12cbo8i7l {
        padding-right: 12px;
    }

    [data-rk] ._12cbo8i7m {
        padding-right: 14px;
    }

    [data-rk] ._12cbo8i7n {
        padding-right: 16px;
    }

    [data-rk] ._12cbo8i7o {
        padding-right: 18px;
    }

    [data-rk] ._12cbo8i7p {
        padding-right: 20px;
    }

    [data-rk] ._12cbo8i7q {
        padding-right: 24px;
    }

    [data-rk] ._12cbo8i7r {
        padding-right: 28px;
    }

    [data-rk] ._12cbo8i7s {
        padding-right: 32px;
    }

    [data-rk] ._12cbo8i7t {
        padding-right: 36px;
    }

    [data-rk] ._12cbo8i7u {
        padding-right: 44px;
    }

    [data-rk] ._12cbo8i7v {
        padding-right: 64px;
    }

    [data-rk] ._12cbo8i7w {
        padding-right: -1px;
    }

    [data-rk] ._12cbo8i7x {
        padding-top: 0;
    }

    [data-rk] ._12cbo8i7y {
        padding-top: 1px;
    }

    [data-rk] ._12cbo8i7z {
        padding-top: 2px;
    }

    [data-rk] ._12cbo8i80 {
        padding-top: 3px;
    }

    [data-rk] ._12cbo8i81 {
        padding-top: 4px;
    }

    [data-rk] ._12cbo8i82 {
        padding-top: 5px;
    }

    [data-rk] ._12cbo8i83 {
        padding-top: 6px;
    }

    [data-rk] ._12cbo8i84 {
        padding-top: 8px;
    }

    [data-rk] ._12cbo8i85 {
        padding-top: 10px;
    }

    [data-rk] ._12cbo8i86 {
        padding-top: 12px;
    }

    [data-rk] ._12cbo8i87 {
        padding-top: 14px;
    }

    [data-rk] ._12cbo8i88 {
        padding-top: 16px;
    }

    [data-rk] ._12cbo8i89 {
        padding-top: 18px;
    }

    [data-rk] ._12cbo8i8a {
        padding-top: 20px;
    }

    [data-rk] ._12cbo8i8b {
        padding-top: 24px;
    }

    [data-rk] ._12cbo8i8c {
        padding-top: 28px;
    }

    [data-rk] ._12cbo8i8d {
        padding-top: 32px;
    }

    [data-rk] ._12cbo8i8e {
        padding-top: 36px;
    }

    [data-rk] ._12cbo8i8f {
        padding-top: 44px;
    }

    [data-rk] ._12cbo8i8g {
        padding-top: 64px;
    }

    [data-rk] ._12cbo8i8h {
        padding-top: -1px;
    }

    [data-rk] ._12cbo8i8i {
        top: 0;
    }

    [data-rk] ._12cbo8i8j {
        bottom: 0;
    }

    [data-rk] ._12cbo8i8k {
        left: 0;
    }

    [data-rk] ._12cbo8i8l {
        right: 0;
    }

    [data-rk] ._12cbo8i8m {
        position: absolute;
    }

    [data-rk] ._12cbo8i8n {
        position: fixed;
    }

    [data-rk] ._12cbo8i8o {
        position: relative;
    }

    [data-rk] ._12cbo8i8p {
        width: 1px;
    }

    [data-rk] ._12cbo8i8q {
        width: 2px;
    }

    [data-rk] ._12cbo8i8r {
        width: 4px;
    }

    [data-rk] ._12cbo8i8s {
        width: 8px;
    }

    [data-rk] ._12cbo8i8t {
        width: 12px;
    }

    [data-rk] ._12cbo8i8u {
        width: 20px;
    }

    [data-rk] ._12cbo8i8v {
        width: 24px;
    }

    [data-rk] ._12cbo8i8w {
        width: 28px;
    }

    [data-rk] ._12cbo8i8x {
        width: 30px;
    }

    [data-rk] ._12cbo8i8y {
        width: 32px;
    }

    [data-rk] ._12cbo8i8z {
        width: 34px;
    }

    [data-rk] ._12cbo8i90 {
        width: 36px;
    }

    [data-rk] ._12cbo8i91 {
        width: 40px;
    }

    [data-rk] ._12cbo8i92 {
        width: 44px;
    }

    [data-rk] ._12cbo8i93 {
        width: 48px;
    }

    [data-rk] ._12cbo8i94 {
        width: 54px;
    }

    [data-rk] ._12cbo8i95 {
        width: 60px;
    }

    [data-rk] ._12cbo8i96 {
        width: 200px;
    }

    [data-rk] ._12cbo8i97 {
        width: 100%;
    }

    [data-rk] ._12cbo8i98 {
        width: -moz-max-content;
        width: max-content;
    }

    [data-rk] ._12cbo8i99 {
        z-index: 2147483646;
    }

    [data-rk] ._12cbo8i9a {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
}